<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecommerce_electronica</property>
        <property name="hibernate.connection.username">mateo</property>
        <property name="hibernate.connection.password">147369Mu</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="model.Usuario"/>
        <mapping class="model.Categoria"/>
        <mapping class="model.Producto"/>
        <mapping class="model.Pedido"/>
        <mapping class="model.DetallePedido"/>
    </session-factory>
</hibernate-configuration>